.table{
      border: 2px solid black;
}
.scrollable{
      margin-left: 150px;
      width: 100px;
      height: 100px;
      overflow-y:scroll ;
}
.search{
      margin-left: 50px;
      width: 250px;
      height: 35px;
      padding: 5px;
      margin-bottom: 30px;
      align-items: center;
      font-size: 18px;
      justify-content: center;
      border-radius: 10px;
      border: 3px solid black;
}